* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
::-webkit-scrollbar:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar:hover:active {
  background: #999;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* body {
  margin: 0;
} */
h1 {
  margin: 1rem 0;
  text-align: center;
}

.container {
  padding: 0 1.5rem;
  display: grid;
  grid-template-areas: "getData getData member member" "table table table table" "level0 level0 level0 level0" "content content content content";
  column-gap: 30px;
  row-gap: 20px;
}

.container > #level0 {
  grid-area: level0;
  justify-self: center;
}
.container > .get-data {
  grid-area: getData;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-self: center;
}
.container > .table-container {
  grid-area: table;
}
.members {
  grid-area: member;
}
.members ul li {
  list-style-position: inside;
}

@media (min-width: 992px) {
  .container {
    grid-template-areas: "level0 getData getData getData" "level0 table table table" "level0 member member member" " content content content content";
  }
}
.card {
  background: #fff;
  box-shadow: 0px 4px 30px -6px rgba(78, 39, 145, 0.801);
  border-radius: 10px;
  padding: 25px;
  max-width: 300px;
}

.get-data {
  justify-self: center;
  display: flex;
  align-items: center;
}
.get-data .form-group {
  position: relative;
}
/* .get-data .form-group .form__label {
  position: absolute;
  top: -1.4rem;
} */

.get-data .btn {
  margin-left: 1rem;
}

.card.level {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-self: center;
}

.level h2 {
  text-align: center;
}

.form-group {
  margin: 0.25rem 0;
}

.level__label {
  color: #1a0d31;
  /* font-weight: 100; */
  padding-left: 0.5rem;
}

.form__input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: 1px solid rgba(36, 52, 70, 0.65);
  outline: none;
  font-size: 0.9rem;
  color: #1a0d31;
  font-weight: 100;
}

.form__input:active,
.form__input:focus {
  border: 2px solid rgba(104, 48, 195, 0.9);
  color: rgba(104, 48, 195, 0.9);
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.85rem;
}

.btn {
  background-color: rgba(104, 48, 195, 0.85);
  color: #fff;
  border: 0;
  margin: 0.2rem 0;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in;
}

.btn:hover {
  background-color: rgba(104, 48, 195, 1);
}

.btn:disabled,
.btn[disabled] {
  border: 1px solidrgba(104, 48, 195, 1);
  background-color: rgba(104, 48, 195, 0.5);
  cursor: not-allowed;
}

.btn-calcular {
  grid-column: 1/-1;
}
.btn-calcular .btn {
  display: none;
}
#content {
  /* grid-column-end: 5; */
  /* grid-row-start: 3 / 4; */
  grid-area: content;
}
.level__content {
  display: grid;
  row-gap: 20px;
  margin-bottom: 25px;
  padding-top: 20px;
  border-top: 2px solid #1a0d31;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;
}

@media (min-width: 768px) {
  .level__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  #content {
    /* grid-column-start: 1;
  grid-column-end: 5; */
  }
  .level__content {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* resultados  */
#result {
  grid-column: 1/-1;
  display: grid;
  width: 100%;
  column-gap: 30px;
  column-gap: 32px;
  margin-bottom: 5rem;
}

@media (min-width:768px) {
  #result {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width:968px) {
  #result {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Table Styles */

.table-wrapper {
  /* margin: 10px 70px 70px; */
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.table-wrapper p {
  font-size: 1.5rem;
  text-align: center;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead {
  box-sizing: border-box;
  background-color: rgba(77, 25, 160, 0.9);
  color: #ffffff;
}

.fl-table tbody th {
  color: #ffffff;
  background: rgba(77, 25, 160, 0.856);
}

.fl-table tbody td:nth-child(odd) {
  color: #ffffff;
  background: rgba(104, 48, 195, 0.8);
}

.fl-table tr:nth-child(even) {
  background: #f1f1f1;
}
